@page "/Add_User"
@using SEP3_Blazor_App.Models
<h3>Add_User</h3>
<hr/>
<h5>Patient Information</h5><hr />
    <div class="col-12 row" style="text-align:left; font-weight:bold">
        <span class="col-12">@AddMessage</span>
    </div>
<div class="row">
    <div class="col-6">
        <label>User CPR Nb</label>
        <input type="text" class="form-control" @bind-value="user.UserId" placeholder="Enter User ID (CPR N0)" />
        <ValidationMessage For="@(() => user.UserId)" />
    </div>
</div>
<br/>
    <div class="row">
        <div class="col-6">
            <label>First Name</label>
            <input type="text" class="form-control" @bind-value="user.FirstName" placeholder="Enter First Name" />
            <ValidationMessage For="@(() => user.FirstName)" />
        </div>
        <div class="col-6">
            <label>Last Name</label>
            <input type="text" class="form-control" placeholder="Enter Last Name" @bind-value="user.LastName" />
            <ValidationMessage For="@(() => user.LastName)" />
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-6">
            <label>Email Address</label>
            <input type="email" class="form-control" @bind-value="user.EmailAddress" placeholder="Email Address" />
            <ValidationMessage For="@(() => user.EmailAddress)" />
        </div>
        <div class="col-6">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="Password" @bind-value="user.Password" />
            <ValidationMessage For="@(() => user.Password)" />
        </div>
    </div>
    <br />
    <div class="row">
    <div class="col-4">
        <label>Assign Doctor</label>
        <InputSelect @bind-Value="user.UserId" class="custom-select">
        </InputSelect>
    </div>
    </div>
    <br />
    <div class="row">
        <div class="col-4">
            <label>Contact</label>
            <input type="text" class="form-control" placeholder="Phone Number" @bind-value="user.PhoneNb" />
            <ValidationMessage For="@(() => user.PhoneNb)" />
        </div>
        <div class="col-6">
            <label>Address</label>
            <input type="text" class="form-control" placeholder="Address" @bind-value="user.Address" />
            <ValidationMessage For="@(() => user.Address)" />
        </div>
    </div>
    <br />
    <div class="col-12 row">
        <span class="col-12"></span>
        <input type="submit" class="form-control col-6 btn btn-success" value="Save" />
    </div>
    <br />
@code {
    private User user;
    private string AddMessage;
    private Task NewUser()
    {
        throw new NotImplementedException();
    }
}